Package: siakhooi-cerg
Version: 0.2.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: coreutils, bash, openssl, findutils
Architecture: amd64
Homepage: <https://github.com/siakhooi/cerg>
Description: certificate generators for development purposes
